click==8.3.1
pydantic==2.12.5
setuptools==81.0.0

# bigquery
google-api-core==2.29.0
google-auth==2.48.0
google-cloud-bigquery==3.40.1
google-cloud-core==2.5.0
google-crc32c==1.8.0
google-resumable-media==2.8.0
googleapis-common-protos==1.72.0
