click==8.3.0
pydantic==2.12.3
setuptools==78.1.1

# bigquery
google-api-core==2.28.1
google-auth==2.42.1
google-cloud-bigquery==3.38.0
google-cloud-core==2.5.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.71.0
